.searchContainer {
  margin-top: 50px;
  max-width: 800px;
  margin-left: 20px;
  margin-right: 20px;
}

.searchBar {
  background-color: white;
  border: 1px solid lightgray;
  border-right: none;
  border-radius: 15px 0 0 15px;
  width: 100%;
  font-size: 16px;
  padding: 15px;
}

.searchButton {
  background-color: green;
  color: white;
  border: 1px solid lightgrey;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-size: 22px;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton:hover {
  background-color: rgb(1, 175, 1);
  color: white;
  cursor: pointer;
}

.searchIconContainer {
  width: unset;
  height: unset;
}

.searchChipsContainer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.searchChip {
  margin: 5px;
}

.searchFiltersWrapper {
  margin-bottom: 25px;
}

.searchResultsWrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.searchResultsContainer {
  max-width: 1600px;
}

.searchCardActionArea {
  width: 100%;
}

.circularProgress {
  margin-bottom: 25px;
}

.clearChipsButton {
  margin-bottom: 10px;
}

input {
  outline: none;
}

button {
  outline: none;
}
